.cards-articles{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 25px;
  text-align: justify;
}

.services .btn-article {
  .text-color{
    color: #52d390;
    :hover{
      color: white !important;
    }
  }
}
