<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- logo -->
    <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1712159438/Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo_4_lu7xzv.png" alt="Logo Leslie Rds" width="250" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenteredContent" aria-controls="navbarCenteredContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">A Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Blog</a>
        </li>
    </div>
    <!-- bouton -->
    <div class="d-flex">
      <button class="btn btn-outline-success" href="https://calendly.com/leslie-rados-hyds/rdv-de-decouverte-de-votre-projet" type="submit">Contact</button>
    </div>
  </div>
</nav>
