<header>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container py-5 text-center">
      <h1>Développeuse <i class="fa-solid fa-robot" style="color: #5705aa;"></i> Fullstack </h1>
      <p>Spécialisée dans le développement de sites web et d'applications, pour que votre entreprise trouve sa place sur Internet</p>
      <a class="btn btn-outline-success" href="#">Me contacter</a>
    </div>
  </div>
</header>
<main>
  <div class="container">
  <h1>Hello, Bonjour ! <i class="fa-solid fa-hand fa-shake" style="color: #5705aa;"></i></h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</main>
